{% extends 'base.html' %}
{% block title %}
Home
{% endblock title %}
{% block start %}


<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FIRST NAME</th>
        <th scope="col">LAST NAME</th>
        <th scope="col">EMAIL</th>
        <th scope="col">DESIGNATION</th>
        <th scope="col">PHONE NO.</th>
        <th scope="col">ACTION</th>

      </tr>
    </thead>
    {% for i in emp %}
    <tbody>
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.first_name}}</td>
        <td>{{i.last_name}}</td>
        <td>{{i.email}}</td>
        <td>{{i.position}}</td>
        <td>{{i.phone}}</td>
        <td>
            <a href="/update_emp/{{i.id}}" type="button" class="btn btn-warning">Update</a>
            <a href="/delete_emp/{{i.id}}" type="button" class="btn btn-danger">Delete</a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
  </table>


{% endblock %}